<footer class="footer">
    <div class="footer-body p-4">
        <ul class="left-panel list-inline mb-0 p-0">
            <li class="list-inline-item"><a href="/static/dashboard/extra/privacy-policy.html">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/static/dashboard/extra/terms-of-service.html">Terms of Use</a></li>
        </ul>
        <div class="right-panel ">
            ©<script>document.write(new Date().getFullYear())</script> My Turf
        </div>
    </div>
</footer>
<!-- Footer Section End --> 