<!--Nav Start-->
<nav class="nav navbar navbar-expand-lg navbar-light iq-navbar fixed-top shadow-sm">
    <div class="container-fluid navbar-inner">
      <a href="/static/dashboard/index.html" class="navbar-brand">
          <!--Logo start-->
          <svg width="30" class="text-primary" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"/>
              <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"/>
              <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"/>
              <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"/>
          </svg>
          <!--logo End-->        
          <h4 class="logo-title">Hope UI</h4>
      </a>
      <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
          <i class="icon">
           <svg width="20px" height="20px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
          </svg>
          </i>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <span class="mt-2 navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="mail-drop" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
              <svg width="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M5.91064 20.5886C5.91064 19.7486 6.59064 19.0686 7.43064 19.0686C8.26064 
                  19.0686 8.94064 19.7486 8.94064 20.5886C8.94064 21.4186 8.26064 22.0986 7.43064 22.0986C6.59064 22.0986 5.91064 21.4186 5.91064 
                  20.5886ZM17.1606 20.5886C17.1606 19.7486 17.8406 19.0686 18.6806 19.0686C19.5106 19.0686 20.1906 19.7486 20.1906 20.5886C20.1906 
                  21.4186 19.5106 22.0986 18.6806 22.0986C17.8406 22.0986 17.1606 21.4186 17.1606 20.5886Z" fill="currentColor">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1907 6.34909C20.8007 6.34909 21.2007 6.55909 21.6007 7.01909C22.0007 7.47909 
                  22.0707 8.13909 21.9807 8.73809L21.0307 15.2981C20.8507 16.5591 19.7707 17.4881 18.5007 17.4881H7.59074C6.26074 17.4881 5.16074 
                  16.4681 5.05074 15.1491L4.13074 4.24809L2.62074 3.98809C2.22074 3.91809 1.94074 3.52809 2.01074 3.12809C2.08074 2.71809 2.47074 
                  2.44809 2.88074 2.50809L5.26574 2.86809C5.60574 2.92909 5.85574 3.20809 5.88574 3.54809L6.07574 5.78809C6.10574 6.10909 6.36574 
                  6.34909 6.68574 6.34909H20.1907ZM14.1307 11.5481H16.9007C17.3207 11.5481 17.6507 11.2081 17.6507 10.7981C17.6507 10.3781 17.3207 
                  10.0481 16.9007 10.0481H14.1307C13.7107 10.0481 13.3807 10.3781 13.3807 10.7981C13.3807 11.2081 13.7107 11.5481 14.1307 11.5481Z" 
                  fill="currentColor">
                </path>
              </svg>
              <span class="bg-primary count-mail"></span>
            </a>
            <div class="p-0 sub-drop dropdown-menu dropdown-menu-end " aria-labelledby="mail-drop">
                <div class="m-0 shadow-none card border" style="width: 25rem;">
                  <div class="py-3 card-header d-flex justify-content-between bg-primary">
                      <div class="header-title">
                        <h5 class="mb-0 text-white">Cart</h5>
                      </div>
                  </div>
                  <div class="p-0 card-body " >
                      
                      {% if cartData %}
                        {% for i in cartData %}
                        <div  class="iq-sub-card">
                          <div class="d-flex justify-content-between">
                            <div class=" d-flex align-items-center">
                              <div class="">
                                <img class="p-1 avatar-40 rounded-pill bg-soft-primary" src="{{media_url}}{{i.image}}" alt="">
                              </div>
                              <div class="ms-3 d-flex flex-column">
                                <h6 class="mb-0 " style="text-transform: uppercase;">{{i.product_name}}</h6>
                                <small class="float-start font-size-12">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                    <path fill="currentColor" fill-rule="evenodd" d="M16 12a2 2 0 0 1 2-2h12a2 2 0 1 1 0 4h-3.07a7.96 7.96 0 0 1 .818 2H30a2 
                                    2 0 1 1 0 4h-2.252a8.012 8.012 0 0 1-6.121 5.834l6.037 9.057a2 2 0 1 1-3.328 2.218l-8-12A2 2 0 0 1 18 22h2c1.48 0 2.773-.804 
                                    3.465-2H18a2 2 0 1 1 0-4h5.465A3.998 3.998 0 0 0 20 14h-2a2 2 0 0 1-2-2Z" clip-rule="evenodd"/>
                                  </svg>
                                  <span class="font-size-12">{{i.price}}</span>
                                </small>
                                <small class="float-start font-size-12 ">
                                  <span>Qty:</span>
                                  <span>{{i.quantity}}</span>
                                </small>
                              </div>
                          </div>
                          <div class="my-auto">
                            <a class="btn btn-danger px-2 " href="{% url 'deletecart' i.id %}">
                              <svg width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                
                                <path opacity="0.4" d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 
                                  21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 
                                  8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 
                                  9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 
                                  8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 
                                  19.643 9.48851Z" fill="currentColor">
                                </path>                                
                                <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 
                                  4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 
                                  4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 
                                  6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor">
                                </path>                                
                              </svg>
                            </a>
                          </div>
                          </div>
                        </div>
                        {% endfor %}
                        
                        <div  class="container-fluid mt-4">
                          <div class="d-flex flex-column">
                            <div class="mb-4">
                              <span class="h6 text-secondary">Price Details</span>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                              <span>Price({{totalItemCount}} items):</span>
                              <span>{{totalAmount}}</span>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                              <span class="">Delivery Charge:</span>
                              <span class="text-success">Free Delivery</span>
                            </div>
                            <hr>
                            <div class="mb-4 d-flex justify-content-between">
                              <span class="h6 text-secondary">Total Price</span>
                              <span>{{totalAmount}}</span>
                            </div>
                          </div>
                          <div class="mb-3 d-flex justify-content-end">
                            <a href="{% url 'checkout' %}" class="checkout btn btn-warning px-3 py-2 " style="font-size: .8rem;">Place Order</a>
                          </div>
                        </div>
                        {% else%}
                        <a href="#" class="iq-sub-card">
                          <div class="d-flex justify-content-between">
                            <small class="float-start font-size-18 ">
                              Cart is empty add somthing to the cart
                            </small>
                          </div>
                        </a>
                        
                      {% endif %}
                  </div>
                </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="py-0 nav-link d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if  request.user.avatar %}
              
              <img src="/media/{{request.user.avatar}}" alt="User-Profile" class="theme-color-default-img img-fluid avatar avatar-50 avatar-rounded">
              {% else %}
              <img src="/static/assets/images/avatars/01.png" alt="User-Profile" class="theme-color-default-img img-fluid avatar avatar-50 avatar-rounded">
              <img src="/static/assets/images/avatars/avtar_1.png" alt="User-Profile" class="theme-color-purple-img img-fluid avatar avatar-50 avatar-rounded">
              <img src="/static/assets/images/avatars/avtar_2.png" alt="User-Profile" class="theme-color-blue-img img-fluid avatar avatar-50 avatar-rounded">
              <img src="/static/assets/images/avatars/avtar_4.png" alt="User-Profile" class="theme-color-green-img img-fluid avatar avatar-50 avatar-rounded">
              <img src="/static/assets/images/avatars/avtar_5.png" alt="User-Profile" class="theme-color-yellow-img img-fluid avatar avatar-50 avatar-rounded">
              <img src="/static/assets/images/avatars/avtar_3.png" alt="User-Profile" class="theme-color-pink-img img-fluid avatar avatar-50 avatar-rounded">

              {% endif %}
              <div class="caption ms-3 d-none d-md-block ">
                {% if request.user.is_authenticated%}
                  <h6 class="mb-0 caption-title">Logged in as<h6>
                  <p class="mb-0 caption-sub-title">{{user.username}}</p>
                {%endif%}
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/static/dashboard/app/user-profile.html">Profile</a></li>
              <li><a class="dropdown-item" href="/static/dashboard/app/user-privacy-setting.html">Privacy Setting</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if request.user.is_authenticated%}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              {%else%}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              {%endif%}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>        
  <!--Nav End-->
</div>