{% extends 'layouts/base.html' %}

{% block content %}
<!-- {% if messages %}
  {% for message in messages %}
      <p class="d-none" id="messagetag">{{message.tags}}</p>
      <p class="d-none " id="messagecontent">{{message}}</p>
  {% endfor %}
    {% endif %} -->
    <div class="ecomerce-top-bar card p-3" {% if is_requestform %} style="display: none ;" {% else %}
    style="display: flex ;" {% endif %}>
        <div class="row justify-content-between">
            <div class="col-4">
                <span class="item-name"> 
                    <form method="POST"  class="d-flex">
                        {% csrf_token %}
                        <div class="pt-2">
                           <p>Current Location  : </p>  
                        </div>
                     <div>
                        <input type="text"  value="{{request.user.current_location}}" required="True" name="location" id="id_city" hx-post="{%url 'search-city' feildname="location" %}" hx-target='#results' hx-trigger="keyup changed delay:500ms"  class="form-control"  placeholder="Select a City ..." >
                    </div>
                    <button type="submit" name="location_change" class="btn-primary rounded-2 mb-2 mt-2 mx-2">Change</button>
                </form>
                <div id="results" class="suggestion"></div>
                </span>
            </div>
            <div class="col-4"></div>
            <div class="col-4  ecomerce-top-bar-btns justify-content-end mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="search" hx-post="{%url 'search-matches' %}" hx-target='#result-matches' hx-trigger="keyup changed delay:500ms"  class="form-control"  placeholder="Select a  Username, Date or Category ..." >
                </form>
            </div>
        </div>
    </div>
<div class="row bg-soft-light d-flex justify-content-around"  {% if is_requestform %} style="display: none ;" {% else %}
style="display: block ;" {% endif %} id="result-matches">
{% include 'Matches/matches.html' %}
</div>
<div class="row mt-5" id="RequestForm" {% if is_requestform  %} style="display: flex ;" {% else %}
style="display: none ;" {% endif %}>
<div class="col-lg-6 mx-auto">
    <div class=" card ">
        <div class="card-body">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">Send join request
                    </h5> 
                </div>
                <div class="modal-body p-4">
                    {% csrf_token %}
              


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="{{RequestForm.category.id_for_label}}" class="form-label">Category</label>
                               
                                <p class="form-control" style="    background-color: #e9ecef;
                                opacity: 1;">{{data.category}}</p>
                            </div>
                            <span class="text-error text-danger">{{ RequestForm.category.errors }}</span>
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group">
                              <label for="start" class="form-label">Date</label>
                                                        <p class="form-control" style="    background-color: #e9ecef;
                              opacity: 1;">{{data.date|date:"Y-m-d"}}</p>
                          </div>
                          <span class="text-error text-danger">{{ RequestForm.date.errors }}</span>
                      </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="start" class="form-label">Start Time</label>
                                <p class="form-control" style="    background-color: #e9ecef;
                                opacity: 1;">{{data.start_time}}</p>
                            </div>
                            <span class="text-error text-danger">{{ RequestForm.start_time.errors }}</span>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="end" class="form-label">End Time</label>
                               
                                <p class="form-control" style="    background-color: #e9ecef;
                                opacity: 1;">{{data.end_time}}</p>
                            </div>
                            <span class="text-error text-danger">{{ RequestForm.end_time.errors }}</span>
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group">
                              <label for="end" class="form-label">Location</label>
                             
                              <p class="form-control" style="    background-color: #e9ecef;
                              opacity: 1;">{{data.locality}}</p>
                          </div>
                          <span class="text-error text-danger">{{ RequestForm.locality.errors }}</span>
                      </div>
                    </div>





                   

                   
                   
                   

                </div>
                <div class="modal-footer">
                  
                     <!-- <a href="{% url 'turf_schedule' %}" class="btn btn-secondary">Close</a>
                 
                    <button type="button"  class="btn btn-secondary"
                        onclick="closeRequestForm()">Close</button> -->
                    
                    
                    <button type="submit" class="btn btn-success"> Send requests</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-2 mx-5">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">The Team</h3>
        </div>
        <div class="card-body bg-light">
            {% for joined in joined%}
            {% if match.creator == joined.username%}
            <div class="card row d-flex flex-row bg-danger text-white">
            <div class="col-4"><img src="/static/assets/images/avatars/01.png" alt="User-Profile" class="theme-color-default-img img-fluid rounded-pill avatar-50"></div>
            <div class="col-8 my-auto">{{joined.username}}</div>
        </div>
            {%else%}
            <div class="card row d-flex flex-row">
            <div class="col-4 "><img src="/static/assets/images/avatars/01.png" alt="User-Profile" class="theme-color-default-img img-fluid rounded-pill avatar-50"></div>
            <div class="col-8 my-auto ">{{joined.username}}</div></div>
            {%endif%}
            
            {%endfor%}
        </div>
    </div>
</div>

</div>
<!-- <rssapp-wall id="tblR6sxbIzZJcii6"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
      
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
    document.getElementById('matches-li').classList.add('active')
    // $(document).ready(function(){
    //     let tag=$('#messagetag').html()
    //     let message = $('#messagecontent').html()
    //       if( tag == 'error'){
    //         toastr.error(message);
    //         $('#creatematch').trigger('reset');
    //       }
    //       if( tag == 'success' ){
    //         toastr.success(message);
    //         $('#creatematch').trigger('reset');
    //       }
    //   });
//     let dropdowns = document.querySelectorAll('.dropdown-toggle')
// dropdowns.forEach((dd)=>{
//     dd.addEventListener('click', function (e) {
//         var el = this.nextElementSibling
//         el.style.display = el.style.display==='block'?'none':'block'
//     })
// })

</script>
<style>
/* .sub-menu:hover .games-menu {
    display: block;
  } */
  /* .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
} */
  </style>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script>
    
    function useSuggestion(e) {
    if(e.target.innerText!="No search results.Enter a valid name atleast 3 characters in length"){
        
        console.log(e.target.innerText)
        id_city.value = e.target.innerText;
        id_city.focus();
        suggestions.innerHTML = '';
        let city=id_city.value;
        // suggestions.classList.remove('has-suggestions');
    }
	
}
const suggestions = document.querySelector('.suggestion');
suggestions.addEventListener('click', useSuggestion);
document.addEventListener('click', () =>suggestions.innerHTML = '' );

</script>
{% include 'style/location_style.html' %}
{% endblock content %}