{% extends 'layouts/base.html' %}
{% load widget_tweaks %}
{% block content %}



<section class="ecommerce-addstock-section container-fluid my-3" style="height: 78vh;" >
    <!-- ecommerce topbar -->
    <div class="ecomerce-top-bar ">
        <div class="row">
            <div class="col-4">
                <span class="item-name" style="font-size: 1.4rem;">Create Match</span>
            </div>
        </div>
    </div>
    <!-- ecommerce main section -->
    <div class="ecom-addstock my-3">
        <div class="bg-white col-md-6 mx-auto mt-5 p-5">
            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    
        
                    {% for addForm in form %}
                                
                       
                        {% if addForm.label != "Category" %}
                        <div class="form-floating custom-form-floating custom-form-floating-sm form-group mb-4">
                            {% render_field addForm class="form-control" placeholder="Place Holder" %}
                            <label >{{addForm.label}}</label>
                        </div>
                        {% else %}
                            {% render_field form.category class="form-select form-select-lg mb-4" aria-label=".form-select-lg example" name="category" id="category" %}
                        {% endif %}
                        <span class="text-danger">{{addForm.errors}}</span>
                        
        
                    {% endfor %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


<script>
    document.getElementById('create-matches-li').classList.add('active')
</script>




<div class="MIn"></div>
<h1 style="text-align:center">CREATE YOUR OWN MATCH</h1>
<div class="bd-example">
        <form method="GET">
            {% csrf_token %}
            <br><br><br>
            <div class="mb-3">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="category" id="category">
                    
                    {% for choices in form.category  %}
                    
                    <option >{{choices}}</option>

                    {% endfor %}
                    
                </select>
                
                
            </div>
            <div class="mb-3">
                <input class="form-control form-control-lg" type="text" placeholder="Enter your location" aria-label=".form-control-lg example" id="location" name="location">
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control date_flatpicker" placeholder="Enter Date" id="date" name="date">
                </div>
            </div>
            <div class="form-group form-group-alt">
                <input type="text" class="form-control" placeholder="Enter Time" name="time" id="time">
            </div>
            <div class="form-group form-group-alt">
                <input type="number" class="form-control" placeholder="No of slots" name="nos" id="nos">
            </div>
        </form>
        <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
<p>Date: <input type="date" id="datepicker">{{form.date}}</p>
<p>Time: <input type="time"></p>
<style>
.bd-example{
      display:flex;
      flex-direction:column;
      align-items:center;
      width: 75rem;
      height: 43rem;
      
      

}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>

{% endblock content %}