{% extends 'layouts/base.html' %}
{% block content %}
<div class="d-flex justify-content-center" style="margin-top:15vh;">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
          Join Request
          </h4>
        </div>
        <div class="card-body">
        <form role="form" method="POST" action="">
            {% csrf_token %} 
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Category</label>
                    {{ form.category }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Date</label>
                    {{ form.date }}
                  </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Time</label>
                        {{ form.time }}
                      </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Locality</label>
                            {{ form.locality }}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Organized By:</label>
                            {{ form.username}}
                          </div>
                        </div>
                    </div>
                    <button type="submit"  class="btn btn-primary  ">Request</button>
        </form>
        </div>
        {% include 'includes/footer.html' %}    
    </div>
</div>
</div>
{% endblock content %}