{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row bg-soft-light d-flex justify-content-around container-fluid">
        {% for match in matches%}
        <div class="column col-md-4">
            <div class="card p-2 m-4">
                <img src="/media/{{match.category.image}}" class="card-img-top" alt="Product 1"
                    style="height:350px;object-fit: contain;">
                <div class="card-body p-1 ">
                    <h2 class="card-text p-1">{{match.category}}</h2>
                    <p class="card-text ">Date of Match:{{match.date|date:"Y-m-d"}}</p>
                    <p class="card-text">Start-Time:{{match.start_time|time:"H:i:s"}}</p>
                    <p class="card-text">End-Time:{{match.end_time|time:"H:i:s"}}</p>
                    <p class="card-text">Available Slots:{{match.slot_available}}/{{match.slots}}</p>
                    <p class="card-text">Locality:{{match.locality}}</p>
                    <p class="card-text">City:{{match.city}}</p>
                    {% if match.creator == request.user.username and match.status == "Upcoming" %}
                    <a href="edit/{{match.id}} " class="btn btn-primary">
                        EDIT
                    </a>
                    <a onclick="return confirm('Are you sure you want to cancel this match?')"
                        href="cancel/{{match.id}}" class="btn btn-primary">Cancel</a>
                    {%elif match.creator == request.user.username%}
                    <div class="col-4 "><img src="/static/assets/images/avatars/01.png" alt="User-Profile"
                            class="theme-color-default-img img-fluid rounded-pill avatar-45"></div>
                    {%endif%}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card col-md-6 col-lg-6 my-5 mx-auto px-0 overflow-hidden">
            <div class="d-flex justify-content-center">
                <img src="{% static 'assets/images/errorImages/search404_defualt.png' %}" alt="search404"
                    class="theme-color-default-img  img-fluid  w-50 mx-auto">
                <img src="{% static 'assets/images/errorImages/search404_1.png' %}" alt="search404"
                    class="theme-color-purple-img  img-fluid  w-50 mx-auto">
                <img src="{% static 'assets/images/errorImages/search404_2.png' %}" alt="search404"
                    class="theme-color-blue-img  img-fluid  w-50 mx-auto">
                <img src="{% static 'assets/images/errorImages/search404_3.png' %}" alt="search404"
                    class="theme-color-green-img  img-fluid  w-50 mx-auto">
                <img src="{% static 'assets/images/errorImages/search404_4.png' %}" alt="search404"
                    class="theme-color-yellow-img  img-fluid  w-50 mx-auto">
                <img src="{% static 'assets/images/errorImages/search404_5.png' %}" alt="search404"
                    class="theme-color-pink-img  img-fluid  w-50 mx-auto">
            </div>
            <div class="card-body">
                <p class="text-center">There are no upcoming matches that you created or joined!!</p>
                <p class="text-center">Interested in creating your own matches<a class="nav-link "
                        href="{% url 'create-matches' %}" id="create-matches-li">Click here</a></p>
            </div>
        </div>

    </div>
    {%endfor%}
</div>


<script>
    document.getElementById('my-matches-li').classList.add('active')

</script>



{% endblock content %}