{% extends 'layouts/base.html' %}
{% block content %}
<script>
    document.getElementById('my-matches-li').classList.add('active')
</script>

 {% if messages %}
                    {% for message in messages %}
                        <div  {% if message.tags %} class="alert alert-success d-flex align-items-center"role="alert {{ message.tags }}"{% endif %}>
                          <!-- <script class="alert alert-solid alert-primary rounded-0 alert-dismissible fade show " role="alert" >alert("{{ message }}")</script>  -->
                          <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                            <use xlink:href="{% static static/svg/check-circle-fill %}" />
                        </svg>
                        <div>
                            An example success alert with an icon
                        </div>
                          
                        </div>
                    {% endfor %}
                    {% endif %}
{% endblock content %}
<!-- 
<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        An example success alert with an icon
    </div>
</div> -->
