{% extends 'layouts/base.html' %}
{% block content %}


<div class="container-fluid">
  {%if matches%}
<div class="container-fluid">
  <div class="row  bg-soft-light">
    {% for match in matches%}
      <div class="column col-md-4">
          <div class="card p-2 m-5">
            <img src="/media/{{match.category.image}}" class="card-img-top" alt="Product 1" style="height:350px;">
              <div class="card-body">
            <h2>{{match.category}}</h2>
                <p class="card-text text-dark">Date of Match:{{match.date|date:"Y-m-d"}}</p>
                <p class="card-text text-dark">Time:{{match.start_time|time:"H:i:s"}}</p>
                <p class="card-text text-dark">Time:{{match.end_time|time:"H:i:s"}}</p>
                <p class="card-text text-dark">Available Slots:{{match.slot_available}}/{{match.slots}}</p>
                <p class="card-text text-dark">Locality:{{match.locality}}</p>
                <a  class="btn btn-primary" href="cancel/{{match.id}}">
                  Cancel
                </a>
              </div>
            </div>
        </div>
     {%endfor%}
  </div>
</div>
 {%else%}
 <div class="row bg-soft-light justify-content-center">
  <div class="column col-md-4 justify-content-md-around">
      <div class="card text-white bg-soft-info m-5" > 
        <div class="card-body">   
          <h3 class="mt-3 text-center">There aren't any matches you have requested to join</h3>
          <p class="mt-3 text-center">
            Interested in creating your own matches<a class="nav-link " href="{% url 'create-matches' %}" id="create-matches-li">Click here</a>
          </p>
        </div>
        </div>
  </div>
  </div>
  {%endif%}
</div>
<script>
    document.getElementById('requested-matches-li').classList.add('active')
</script>
{% endblock content %}
