{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
  {%if matches%}
<div class="container-fluid">
  <div class="row  bg-soft-light">
    {% for match in matches%}
      <div class="column col-md-4">
          <div class="card p-2 m-5">
            <img src="/media/{{match.category.image}}" class="card-img-top" alt="Product 1" style="height:350px;">
              <div class="card-body">
            <h2>{{match.category}}</h2>
                <p class="card-text">Date of Match:{{match.date|date:"Y-m-d"}}</p>
                <p class="card-text">Time:{{match.start_time|time:"H:i:s"}}</p>
                <p class="card-text">Time:{{match.end_time|time:"H:i:s"}}</p>
                <p class="card-text">Available Slots:{{match.slot_available}}/{{match.slots}}</p>
                <p class="card-text">Available Slots:{{match.slot_available}}/{{match.slots}}</p>
                <p class="card-text">Locality:{{match.locality}}</p>
                <p class="card-text">City:{{match.city}}</p>
                <a  class="btn btn-primary" href="cancel/{{match.id}}">
                  Cancel
                </a>
              </div>
            </div>
        </div>
     {%endfor%}
  </div>
</div>
 {%else%}
 <div class="card col-md-6 col-lg-6 my-5 mx-auto px-0 overflow-hidden">
  <div class="d-flex justify-content-center">
      <img src="{% static 'assets/images/errorImages/search404_defualt.png' %}" alt="search404"
          class="theme-color-default-img  img-fluid  w-50 mx-auto">
      <img src="{% static 'assets/images/errorImages/search404_1.png' %}" alt="search404"
          class="theme-color-purple-img  img-fluid  w-50 mx-auto">
      <img src="{% static 'assets/images/errorImages/search404_2.png' %}" alt="search404"
          class="theme-color-blue-img  img-fluid  w-50 mx-auto">
      <img src="{% static 'assets/images/errorImages/search404_3.png' %}" alt="search404"
          class="theme-color-green-img  img-fluid  w-50 mx-auto">
      <img src="{% static 'assets/images/errorImages/search404_4.png' %}" alt="search404"
          class="theme-color-yellow-img  img-fluid  w-50 mx-auto">
      <img src="{% static 'assets/images/errorImages/search404_5.png' %}" alt="search404"
          class="theme-color-pink-img  img-fluid  w-50 mx-auto">
  </div>
<div class="card-body"> <p class="text-center">There aren't any matches you have requested to join!!</p> 
 <p class="text-center">Interested in creating your own matches<a class="nav-link " href="{% url 'create-matches' %}" id="create-matches-li">Click here</a></p>
</div>
</div>
  {%endif%}
</div>
<script>
    document.getElementById('requested-matches-li').classList.add('active')
</script>
{% endblock content %}
