{% load static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MyTurf | Game Collaborating App</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/assets/images/favicon.ico" />

  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="/static/assets/css/core/libs.min.css" />


  <!-- Hope Ui Design System Css -->
  <link rel="stylesheet" href="/static/assets/css/hope-ui.min.css?v=1.2.0" />

  <!-- Custom Css -->
  <link rel="stylesheet" href="/static/assets/css/custom.min.css?v=1.2.0" />

  <!-- Dark Css -->
  <link rel="stylesheet" href="/static/assets/css/dark.min.css" />

  <!-- Customizer Css -->
  <link rel="stylesheet" href="/static/assets/css/customizer.min.css" />

  <!-- RTL Css -->
  <link rel="stylesheet" href="/static/assets/css/rtl.min.css" />

</head>

<body class=" align-items-center" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0"
  tabindex="0">
  <!-- loader Start -->
  <div id="loading">
    <div class="loader simple-loader">
      <div class="loader-body"></div>
    </div>
  </div>
  <!-- loader END -->

  <!-- <div class="wrapper"> -->
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->

  <!-- <div class="">
      <div class="container">
        <h2 class="mb-0 mt-4 text-white"></h2>
        <p class="mt-2 text-white"></p>
        <a class="btn bg-white text-primary d-inline-flex align-items-center" href="{% url 'home' %}">Back to Home</a>
      </div>
      <div class="box">
        <div class="c xl-circle">
          <div class="c lg-circle">
            <div class="c md-circle">
              <div class="c sm-circle">
                <div class="c xs-circle">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->






  <div class="col-lg-6 col-md-8 col-sm-11 card my-lg-5 mx-auto">
    <div class="d-flex my-auto mx-auto card-body flex-column">
      <div> <img src="{% static 'assets/images/errorImages/404Error.svg' %}" alt="Error 403"
          class="  img-fluid  w-100 mx-auto"> </div>
      <div>
        <p class="h3 text-center " style="color: #92E3A9;  font-weight: 600; text-shadow: 2px 2px 9px rgb(146, 227, 169,.40);"> Error 403</p>
      </div>
      <div class="mx-auto mt-3 "> 
        <a href="{% url 'home' %}" class="btn text-dark" style="background-color: #92E3A9;">Go Home</a>
      </div>
    </div>
  </div>











  <!-- </div> -->

  <!-- Library Bundle Script -->
  <script src="/static/assets/js/core/libs.min.js"></script>

  <!-- External Library Bundle Script -->
  <script src="/static/assets/js/core/external.min.js"></script>

  <!-- Widgetchart Script -->
  <script src="/static/assets/js/charts/widgetcharts.js"></script>

  <!-- mapchart Script -->
  <script src="/static/assets/js/charts/vectore-chart.js"></script>
  <script src="/static/assets/js/charts/dashboard.js"></script>

  <!-- fslightbox Script -->
  <script src="/static/assets/js/plugins/fslightbox.js"></script>

  <!-- Settings Script -->
  <script src="/static/assets/js/plugins/setting.js"></script>

  <!-- Slider-tab Script -->
  <script src="/static/assets/js/plugins/slider-tabs.js"></script>

  <!-- Form Wizard Script -->
  <script src="/static/assets/js/plugins/form-wizard.js"></script>

  <!-- AOS Animation Plugin-->

  <!-- App Script -->
  <script src="/static/assets/js/hope-ui.js" defer></script>
</body>

</html>