<!-- Library Bundle Script -->
<!-- <script src="/static/assets/js/core/libs.min.js"></script> -->

<!-- External Library Bundle Script -->
<script src="/static/assets/js/core/external.min.js"></script>

<!-- Widgetchart Script -->
<script src="/static/assets/js/charts/widgetcharts.js"></script>

<!-- mapchart Script -->
<script src="/static/assets/js/charts/vectore-chart.js"></script>
<script src="/static/assets/js/charts/dashboard.js"></script>






<!-- fslightbox Script -->
<script src="/static/assets/js/plugins/fslightbox.js"></script>

<!-- Settings Script -->

<script src="/static/assets/js/plugins/setting.js"></script>
<!-- Slider-tab Script -->
<script src="/static/assets/js/plugins/slider-tabs.js"></script>

<!-- Form Wizard Script -->
<script src="/static/assets/js/plugins/form-wizard.js"></script>

<!-- AOS Animation Plugin-->




<!-- App Script -->
<script src="/static/assets/js/hope-ui.js" defer></script>

{% comment %} iconify icons {% endcomment %}

<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

<!-- jquery cdn -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>


<!-- taginput Script -->
<script src="/static/assets/js/taginput.js"></script>



<!--    pagination ####################################################### -->

<!-- Library Bundle Script ############### -->
<!-- <script src="/static/assets/js/core/libs.min.js"></script> -->










<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>	
<script src="/static/script.js"></script>

<!-- Library Bundle Script -->
<script src="/static/assets/js/core/libs.min.js"></script>