{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<body class="  ">
   
    <main class="main-content">
        <div class="position-relative iq-banner">
        <!-- Nav Header Component Start -->
            <div class="iq-navbar-header" style="height: 215px;">
                <div class="container-fluid iq-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="flex-wrap d-flex justify-content-between align-items-center">
                                <div>
                                    <h1>Manage Users</h1>
                                    <p></p>
                                </div>
                                <div>
                                    <a href="" class="btn btn-link btn-soft-light">
                                        <svg width="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.8251 15.2171H12.1748C14.0987 15.2171 15.731 13.985 16.3054 12.2764C16.3887 12.0276 16.1979 11.7713 15.9334 11.7713H14.8562C14.5133 11.7713 14.2362 11.4977 14.2362 11.16C14.2362 10.8213 14.5133 10.5467 14.8562 10.5467H15.9005C16.2463 10.5467 16.5263 10.2703 16.5263 9.92875C16.5263 9.58722 16.2463 9.31075 15.9005 9.31075H14.8562C14.5133 9.31075 14.2362 9.03619 14.2362 8.69849C14.2362 8.35984 14.5133 8.08528 14.8562 8.08528H15.9005C16.2463 8.08528 16.5263 7.8088 16.5263 7.46728C16.5263 7.12575 16.2463 6.84928 15.9005 6.84928H14.8562C14.5133 6.84928 14.2362 6.57472 14.2362 6.23606C14.2362 5.89837 14.5133 5.62381 14.8562 5.62381H15.9886C16.2483 5.62381 16.4343 5.3789 16.3645 5.13113C15.8501 3.32401 14.1694 2 12.1748 2H11.8251C9.42172 2 7.47363 3.92287 7.47363 6.29729V10.9198C7.47363 13.2933 9.42172 15.2171 11.8251 15.2171Z"
                                                fill="currentColor"></path>
                                            <path opacity="0.4"
                                                d="M19.5313 9.82568C18.9966 9.82568 18.5626 10.2533 18.5626 10.7823C18.5626 14.3554 15.6186 17.2627 12.0005 17.2627C8.38136 17.2627 5.43743 14.3554 5.43743 10.7823C5.43743 10.2533 5.00345 9.82568 4.46872 9.82568C3.93398 9.82568 3.5 10.2533 3.5 10.7823C3.5 15.0873 6.79945 18.6413 11.0318 19.1186V21.0434C11.0318 21.5715 11.4648 22.0001 12.0005 22.0001C12.5352 22.0001 12.9692 21.5715 12.9692 21.0434V19.1186C17.2006 18.6413 20.5 15.0873 20.5 10.7823C20.5 10.2533 20.066 9.82568 19.5313 9.82568Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iq-header-img">
                    <img src="/static/assets/images/dashboard/top-header.png" alt="header"
                        class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
                    <img src="/static/assets/images/dashboard/top-header1.png" alt="header"
                        class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
                    <img src="/static/assets/images/dashboard/top-header2.png" alt="header"
                        class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
                    <img src="/static/assets/images/dashboard/top-header3.png" alt="header"
                        class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
                    <img src="/static/assets/images/dashboard/top-header4.png" alt="header"
                        class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
                    <img src="/static/assets/images/dashboard/top-header5.png" alt="header"
                        class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
                </div>
            </div> <!-- Nav Header Component End -->
            <!--Nav End-->
        </div>
        <div class="conatiner-fluid content-inner mt-n5 py-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Turf Details</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <p>Images in Bootstrap are made responsive with <code>.img-fluid</code>.
                                <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so
                                that it scales with the parent element.</p> -->
                                <form method="post">
                                    {% csrf_token %}
                                <div class="d-flex justify-content-end mb-2 mx-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Action</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <div class="d-flex flex-column gap-2">
                                                <li class="mx-auto w-75"> <button class="btn-soft-success btn w-100" type="submit"
                                                        name="Unblock">Unblock</button></li>
                                                <li class="mx-auto w-75"> <button class="btn-soft-danger btn w-100" type="submit"
                                                        name="Block">Block</button>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <!-- <label><input type="checkbox" name="sample" id="selectall" /></label> -->
                                            </th>
                                            <th>#</th>
                                            <th>Avatar</th>
                                            <th>Username</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Date Joined</th>
                                            <th>Location</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% csrf_token %}
                                        {% for user in users %}
                                    <tr>
                                        <td><input type="checkbox" name="checkbox_user_table" id=""
                                                class="checkbox_user_table" value="{{user.id}}"></td>
                                        <td>{{forloop.counter0|add:1}}</td>
                                        {% if user.avatar %}
                                        <td><img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="{{media_url}}{{user.avatar}}" alt="Avatar"></td>
                                        {% else %}
                                        <td><img class="rounded bg-soft-primary img-fluid avatar-40 me-3" src="{% static 'assets/images/avatars/01.png'%}" alt="Avatar"></td>
                                        {% endif %}
                                        <td>{{user.username}}</td> 
                                        <td>{{user.first_name|add:" "|add:user.last_name}}</td>
                                        <td>{{user.age}}</td>
                                        <td>{{user.gender}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>{{user.date_joined}}</td>
                                        <td>{{user.location}}</td>
                                        <td>
                                            {% if user.is_active %}
                                            <span class="badge rounded-pill bg-success p-2">Active</span>
                                            {% else %}
                                            <span class="badge rounded-pill bg-danger  p-2">Blocked</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <!-- Wrapper End-->


</body>


<script>
    document.getElementById('manageuser-li').classList.add('active')

</script>
{% endblock %}
