
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>MyTurf | Game Collaborating App</title>
      

      <!-- including styele  -->
      {% include 'style/style.html' %}
       <!-- Fullcalender CSS -->
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/core/main.css' />
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/daygrid/main.css' />
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/timegrid/main.css' />
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/list/main.css' />
       <!-- <link rel='stylesheet' href='/static/assets/css/style.css' /> -->
      
  </head>
  <body class="">

    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body"></div>
      </div>    
    </div>
    <!-- loader END -->
    
    {% include 'includes/sidebar.html' %}

    <main class="main-content">
        <div class="position-relative iq-banner">

    {% include 'includes/navbar.html' %}
    {% include 'includes/messages.html'%}

    
    
          <div style="position: relative;top: 4.5rem;margin-bottom: 3rem;">
            {% block content %}
            
            {% endblock content %}
          </div>
    
          {% include 'includes/footer.html' %}    
        </div>
    </main>
  
    {% include 'includes/settings.html' %}

    <!-- including javascript -->
     
    {% include 'js/js.html' %}
    {% block js%}{% endblock js%}

  </body>
</html>
