
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>MyTurf | Game Collaborating App</title>
      

      <!-- including styele  -->
      {% include 'style/style.html' %}
       <!-- Fullcalender CSS -->
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/core/main.css' />
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/daygrid/main.css' />
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/timegrid/main.css' />
       <link rel='stylesheet' href='/static/assets/vendor/fullcalendar/list/main.css' />
      
  </head>
  <body class="  ">

    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body"></div>
      </div>    
    </div>
    <!-- loader END -->
    
    {% include 'includes/sidebar.html' %}

    <main class="main-content">
        <div class="position-relative iq-banner">

    {% include 'includes/navbar.html' %}


    
    
    {% block content %}{% endblock content %}
    
    {% include 'includes/footer.html' %}    
  </main>
  
        {% include 'includes/settings.html' %}

     <!-- including javascript -->
     {% include 'js/js.html' %}

  </body>
</html>
