<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in img %}
    {% if i.image %}
        <td>
            <img src="{{ i.image.url }}" alt="" class="prod-size">
        </td>
    {% endif %}
    {% endfor %}
</body>
</html>

{% extends 'layouts/base.html' %}
{% block content %}

    <section class="ecommerce container-fluid my-3">

        <!-- ecommerce top bar ,filter -->
        <div class="ecomerce-top-bar ">
            <div class="row">
                <div class="col-4">
                    <span class="item-name" style="font-size: 1.4rem;">Shop</span>
                </div>
            </div>
        </div>
        
        <!-- ecommerce main section -->
        <div class="ecom-main-section my-3">
            <div class="bg-white p-3">
                
            </div>
        </div>
    </section>


    <script>
        document.getElementById('shop-li').classList.add('active')
    </script>
{% endblock content %}