{% extends 'layouts/base.html' %}
{% load widget_tweaks %}
{% block content %}

<section class="ecommerce container-fluid my-3">

    <!-- ecommerce top bar ,filter -->
    <div class="ecomerce-top-bar card p-3">
        <div class="row">
            <div class="col-4">
                <span class="item-name" style="font-size: 1.4rem;">Shop</span>
            </div>
            <div class="col-8 d-flex ecomerce-top-bar-btns justify-content-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        <i class="icon">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                
                                <path d="M14.5715 13.5941L20.4266 7.72014C20.7929 7.35183 21 6.84877 21 6.32376V4.60099C21 3.52002 20.1423 3 
                                    19.0844 3H4.91556C3.85765 3 3 3.52002 3 4.60099V6.3547C3 6.85177 3.18462 7.33087 3.51772 7.69419L8.89711 
                                    13.5632C8.9987 13.674 9.14034 13.7368 9.28979 13.7378L14.1915 13.7518C14.3332 13.7528 14.4699 13.6969 
                                    14.5715 13.5941Z" fill="currentColor">
                                </path>                                
                                <path opacity="0.4" d="M9.05615 13.6858V20.2904C9.05615 20.5309 9.17728 20.7575 9.37557 20.8873C9.48889 
                                    20.9621 9.61978 21.0001 9.75068 21.0001C9.84934 21.0001 9.948 20.9791 10.0398 20.9372L14.0057 19.0886C14.2539 
                                    18.9739 14.4131 18.7213 14.4131 18.4429V13.6858H9.05615Z" fill="currentColor">
                                </path>                                
                            </svg>
                        </i>
                        <span class="item-name">Filter</span>
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu bg-l">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ecommerce main section -->
    <div class="ecom-main-section my-3">
        {% if messages %}
            <div id="alerts-disimissible-component" class="tab-pane tab-example-result fade active show" role="tabpanel" aria-labelledby="alerts-disimissible-component-tab">
                <div class="alert alert-warning alert-dismissible fade show messages" role="alert">
                    <svg width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                
                        <path opacity="0.4" d="M4.72251 21.1672C4.70951 21.1672 4.69751 21.1672 4.68351 21.1662C4.36851 21.1502 4.05951 
                            21.0822 3.76551 20.9632C2.31851 20.3752 1.62051 18.7222 2.20751 17.2762L9.52851 4.45025C9.78051 3.99425 10.1625 
                            3.61225 10.6285 3.35425C11.9935 2.59825 13.7195 3.09525 14.4745 4.45925L21.7475 17.1872C21.9095 17.5682 21.9785 
                            17.8782 21.9955 18.1942C22.0345 18.9502 21.7765 19.6752 21.2705 20.2362C20.7645 20.7972 20.0695 21.1282 19.3145 
                            21.1662L4.79451 21.1672H4.72251Z" fill="currentColor">
                        </path>                                
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1245 10.0208C11.1245 9.53875 11.5175 9.14575 11.9995 
                            9.14575C12.4815 9.14575 12.8745 9.53875 12.8745 10.0208V12.8488C12.8745 13.3318 12.4815 13.7238 11.9995 
                            13.7238C11.5175 13.7238 11.1245 13.3318 11.1245 12.8488V10.0208ZM11.1245 16.2699C11.1245 15.7849 11.5175 
                            15.3899 11.9995 15.3899C12.4815 15.3899 12.8745 15.7799 12.8745 16.2589C12.8745 16.7519 12.4815 17.1449 
                            11.9995 17.1449C11.5175 17.1449 11.1245 16.7519 11.1245 16.2699Z" fill="currentColor">
                        </path>                                
                    </svg>
                {% for message in messages %}
                <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
                </div>
            </div>
        {% endif %}
        <div class="container-fluid p-3">
            <div class="row">
                
                {% for i in ecom_data %}
                    {% if i.quantity %}
                        
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="card  p-2 shadow-sm">
                                <div class="img-cover border d-flex justify-content-center align-items-center" style="width:100%;">
                                    <img src="{{media_url}}{{i.image}}" class="img-fluid" style="width:100%;">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-transform: uppercase;">{{i.product_name}}</h5>
                                    <p class="card-text d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                            <path fill="currentColor" fill-rule="evenodd" d="M16 12a2 2 0 0 1 2-2h12a2 2 0 1 1 0 4h-3.07a7.96 7.96 0 0 1 .818 2H30a2 
                                            2 0 1 1 0 4h-2.252a8.012 8.012 0 0 1-6.121 5.834l6.037 9.057a2 2 0 1 1-3.328 2.218l-8-12A2 2 0 0 1 18 22h2c1.48 0 2.773-.804 
                                            3.465-2H18a2 2 0 1 1 0-4h5.465A3.998 3.998 0 0 0 20 14h-2a2 2 0 0 1-2-2Z" clip-rule="evenodd"/>
                                        </svg>
                                        <span style="font-size: 1.1rem;">{{i.price}}</span>
                                    </p>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="buy-buttons d-flex gap-3 justify-content-between">
                                            <div class="product-quantity d-flex align-items-center ">
                                                <a class="sub-item-btn btn border text-center p-2" style="width: 2rem;">-</a>
                                                    {% render_field cartForm.quantity type="number" class="product-quantity-field text-center p-2 border" style="width: 3.5rem;" min=1 max=i.quantity value="1" %}
                                                    {% render_field cartForm.product_name type="text" value=i.product_name hidden=true %}
                                                    {% render_field cartForm.product_id value=i.id hidden=true %}
                                                    {% render_field cartForm.username type="text" value=request.user.username hidden=true %}
                                                    {% render_field cartForm.price value=i.price hidden=true %}
                                                    {% render_field cartForm.image type="text" value=i.image hidden=true %}
                                                <a class="add-item-btn btn border text-center p-2" style="width: 2rem;">+</a>
                                            </div>
                                            {% comment %} {% if i.id in cartorbuylist %}
                                                <button type="submit" class="btn btn-danger">Go To Cart</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-primary">Add To Cart</button>
                                            {% endif %} {% endcomment %}
                                            <button type="submit" class="btn btn-primary">Add To Cart</button>

                                        
                                        </div>
                                    </form>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6 col-lg-4 bg-">
                            <div class="card  p-2 shadow-sm">
                                <div class="img-cover border d-flex justify-content-center align-items-center" style="width:100%;">
                                    <img src="{{media_url}}{{i.image}}" class="img-fluid" style="width:100%;">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-transform: uppercase;">{{i.product_name}}</h5>
                                    <p class="card-text d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                            <path fill="currentColor" fill-rule="evenodd" d="M16 12a2 2 0 0 1 2-2h12a2 2 0 1 1 0 4h-3.07a7.96 7.96 0 0 1 .818 2H30a2 
                                            2 0 1 1 0 4h-2.252a8.012 8.012 0 0 1-6.121 5.834l6.037 9.057a2 2 0 1 1-3.328 2.218l-8-12A2 2 0 0 1 18 22h2c1.48 0 2.773-.804 
                                            3.465-2H18a2 2 0 1 1 0-4h5.465A3.998 3.998 0 0 0 20 14h-2a2 2 0 0 1-2-2Z" clip-rule="evenodd"/>
                                        </svg>
                                        <span style="font-size: 1.1rem;">{{i.price}}</span>
                                    </p>
                                    <div>
                                        <div class="buy-buttons d-flex gap-3 justify-content-between">
                                            <div class="product-quantity d-flex align-items-center ">
                                            </div>
                                            <a href="{% url 'outOfStock' %}" class="btn btn-danger">Out Of Stock</a>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
    

    let buttonPlus  = $(".add-item-btn");
    let buttonMinus = $(".sub-item-btn");

    let incrementPlus = buttonPlus.click(function() {

        let $n = $(this)
		.parent(".product-quantity")
		.find(".product-quantity-field");
        let amount = Number($n.val());
        $n.val(amount+1);
    });

    let incrementMinus = buttonMinus.click(function() {

        let $n = $(this)
		.parent(".product-quantity")
		.find(".product-quantity-field");
        let amount = Number($n.val());
        if (amount > 0) {
            $n.val(amount-1);
        }
    });

</script>
<script>
    document.getElementById('shop-li').classList.add('active')
</script>
{% endblock content %}