{% extends 'layouts/base.html' %}
{% load widget_tweaks %}
{% block content %}

<section class="ecommerce container-fluid my-3">

    <!-- ecommerce top bar ,filter -->
    <div class="ecomerce-top-bar card p-3">
        <div class="row">
            <div class="col-4">
                <span class="item-name" style="font-size: 1.4rem;">Shop</span>
            </div>
            <div class="col-8 d-flex ecomerce-top-bar-btns justify-content-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        <i class="icon">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                
                                <path d="M14.5715 13.5941L20.4266 7.72014C20.7929 7.35183 21 6.84877 21 6.32376V4.60099C21 3.52002 20.1423 3 
                                    19.0844 3H4.91556C3.85765 3 3 3.52002 3 4.60099V6.3547C3 6.85177 3.18462 7.33087 3.51772 7.69419L8.89711 
                                    13.5632C8.9987 13.674 9.14034 13.7368 9.28979 13.7378L14.1915 13.7518C14.3332 13.7528 14.4699 13.6969 
                                    14.5715 13.5941Z" fill="currentColor">
                                </path>                                
                                <path opacity="0.4" d="M9.05615 13.6858V20.2904C9.05615 20.5309 9.17728 20.7575 9.37557 20.8873C9.48889 
                                    20.9621 9.61978 21.0001 9.75068 21.0001C9.84934 21.0001 9.948 20.9791 10.0398 20.9372L14.0057 19.0886C14.2539 
                                    18.9739 14.4131 18.7213 14.4131 18.4429V13.6858H9.05615Z" fill="currentColor">
                                </path>                                
                            </svg>
                        </i>
                        <span class="item-name">Filter</span>
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu bg-l">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ecommerce main section -->
    <div class="ecom-main-section my-3">
        <div class="container-fluid p-3">
            <div class="row">
                
                {% for i in ecom_data %}
                    {% if i.quantity %}
                        
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card  p-2 shadow-sm">
                                <div class="img-cover border d-flex justify-content-center align-items-center" style="width:100%;">
                                    <img src="{{media_url}}{{i.image}}" class="img-fluid" style="width:100%;">
                                </div>
                                <div class="card-body p-2">
                                    <h5 class="card-title" style="text-transform: uppercase;">{{i.product_name}}</h5>
                                    <p class="card-text d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                            <path fill="currentColor" fill-rule="evenodd" d="M16 12a2 2 0 0 1 2-2h12a2 2 0 1 1 0 4h-3.07a7.96 7.96 0 0 1 .818 2H30a2 
                                            2 0 1 1 0 4h-2.252a8.012 8.012 0 0 1-6.121 5.834l6.037 9.057a2 2 0 1 1-3.328 2.218l-8-12A2 2 0 0 1 18 22h2c1.48 0 2.773-.804 
                                            3.465-2H18a2 2 0 1 1 0-4h5.465A3.998 3.998 0 0 0 20 14h-2a2 2 0 0 1-2-2Z" clip-rule="evenodd"/>
                                        </svg>
                                        <span style="font-size: 1.1rem;">{{i.price}}</span>
                                    </p>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="buy-buttons d-flex gap-3 justify-content-between">
                                            <div class="product-quantity d-flex align-items-center ">
                                                <a class="sub-item-btn btn border text-center p-1 " style="width: 1.5rem;">-</a>
                                                    {% render_field cartForm.quantity type="number" class="product-quantity-field text-center p-1 border" style="width: 2rem;"  min=1 max=i.quantity value="1" %}
                                                    {% render_field cartForm.product_name type="text" value=i.product_name hidden=true %}
                                                    {% render_field cartForm.product_id value=i.id hidden=true %}
                                                    {% render_field cartForm.username type="text" value=request.user.username hidden=true %}
                                                    {% render_field cartForm.price value=i.price hidden=true %}
                                                    {% render_field cartForm.image type="text" value=i.image hidden=true %}
                                                <a class="add-item-btn btn border text-center p-1 " style="width: 1.5rem;">+</a>
                                            </div>
                                            {% comment %} {% if i.id in cartorbuylist %}
                                                <button type="submit" class="btn btn-danger">Go To Cart</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-primary">Add To Cart</button>
                                            {% endif %} {% endcomment %}
                                            <button type="submit" class="btn btn-primary p-2" style="font-size: .8rem;">
                                                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M5.91064 20.5886C5.91064 19.7486 6.59064 19.0686 7.43064 19.0686C8.26064 
                                                      19.0686 8.94064 19.7486 8.94064 20.5886C8.94064 21.4186 8.26064 22.0986 7.43064 22.0986C6.59064 22.0986 5.91064 21.4186 5.91064 
                                                      20.5886ZM17.1606 20.5886C17.1606 19.7486 17.8406 19.0686 18.6806 19.0686C19.5106 19.0686 20.1906 19.7486 20.1906 20.5886C20.1906 
                                                      21.4186 19.5106 22.0986 18.6806 22.0986C17.8406 22.0986 17.1606 21.4186 17.1606 20.5886Z" fill="white">
                                                    </path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1907 6.34909C20.8007 6.34909 21.2007 6.55909 21.6007 7.01909C22.0007 7.47909 
                                                      22.0707 8.13909 21.9807 8.73809L21.0307 15.2981C20.8507 16.5591 19.7707 17.4881 18.5007 17.4881H7.59074C6.26074 17.4881 5.16074 
                                                      16.4681 5.05074 15.1491L4.13074 4.24809L2.62074 3.98809C2.22074 3.91809 1.94074 3.52809 2.01074 3.12809C2.08074 2.71809 2.47074 
                                                      2.44809 2.88074 2.50809L5.26574 2.86809C5.60574 2.92909 5.85574 3.20809 5.88574 3.54809L6.07574 5.78809C6.10574 6.10909 6.36574 
                                                      6.34909 6.68574 6.34909H20.1907ZM14.1307 11.5481H16.9007C17.3207 11.5481 17.6507 11.2081 17.6507 10.7981C17.6507 10.3781 17.3207 
                                                      10.0481 16.9007 10.0481H14.1307C13.7107 10.0481 13.3807 10.3781 13.3807 10.7981C13.3807 11.2081 13.7107 11.5481 14.1307 11.5481Z" 
                                                      fill="white">
                                                    </path>
                                                  </svg>
                                                <span>Add To Cart</span>
                                            </button>

                                        
                                        </div>
                                    </form>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6 col-lg-4 bg-">
                            <div class="card  p-2 shadow-sm">
                                <div class="img-cover border d-flex justify-content-center align-items-center" style="width:100%;">
                                    <img src="{{media_url}}{{i.image}}" class="img-fluid" style="width:100%;">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-transform: uppercase;">{{i.product_name}}</h5>
                                    <p class="card-text d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                            <path fill="currentColor" fill-rule="evenodd" d="M16 12a2 2 0 0 1 2-2h12a2 2 0 1 1 0 4h-3.07a7.96 7.96 0 0 1 .818 2H30a2 
                                            2 0 1 1 0 4h-2.252a8.012 8.012 0 0 1-6.121 5.834l6.037 9.057a2 2 0 1 1-3.328 2.218l-8-12A2 2 0 0 1 18 22h2c1.48 0 2.773-.804 
                                            3.465-2H18a2 2 0 1 1 0-4h5.465A3.998 3.998 0 0 0 20 14h-2a2 2 0 0 1-2-2Z" clip-rule="evenodd"/>
                                        </svg>
                                        <span style="font-size: 1.1rem;">{{i.price}}</span>
                                    </p>
                                    <div>
                                        <div class="buy-buttons d-flex gap-3 justify-content-between">
                                            <div class="product-quantity d-flex align-items-center ">
                                            </div>
                                            <a href="{% url 'outOfStock' %}" class="btn btn-danger">Out Of Stock</a>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<style>

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
    

    let buttonPlus  = $(".add-item-btn");
    let buttonMinus = $(".sub-item-btn");

    let incrementPlus = buttonPlus.click(function() {

        let $n = $(this)
		.parent(".product-quantity")
		.find(".product-quantity-field");
        let amount = Number($n.val());
        $n.val(amount+1);
    });

    let incrementMinus = buttonMinus.click(function() {

        let $n = $(this)
		.parent(".product-quantity")
		.find(".product-quantity-field");
        let amount = Number($n.val());
        if (amount > 0) {
            $n.val(amount-1);
        }
    });

</script>
<script>
    document.getElementById('shop-li').classList.add('active')
</script>
{% endblock content %}