{% extends 'layouts/email.html' %}
{% block content%}
<h3 class="text-center">Request Rejected</h3>
<p> Your request to join the match has been rejected by {{user}}</p>
<p>The match is to be conducted on {{requested_match.date}} at {{requested_match.locality}}</p>
<p>Login to view the details:<a href="http://localhost:8001/">MyTurf</a></p>
<br>
<br>
<hr>
<p>Disclaimer: This is a system-generated mail, please do not reply to it. This e-mail is intended solely for the addressee(s) and is confidential. If you have received this message by mistake, please delete the e-mail.</p>
{% endblock content %}