{% extends 'layouts/base_boxed_fancy.html' %}
{% block content %}
{% load static %}
<div>
   <div id="carouselExampleFade" class="carousel slide carousel-fade overflow-hidden vh-75" data-bs-ride="carousel"
      style="height: 60vh;">
      <div class="carousel-inner">
         <div class="carousel-item active" style=" 
                        background-image: url('{% static 'assets/images/sports/2.jpg' %}');
                        height:60vh;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

            ">
         </div>
         <div class="carousel-item " style=" 
                   background-image: url('{% static 'assets/images/sports/9.jpg' %}');
                   height:60vh;
                   background-repeat: no-repeat;
                   background-position: center;
                   background-size: cover;

            ">
         </div>
         <div class="carousel-item " style=" 
              background-image: url('{% static 'assets/images/sports/11.jpg' %}');
              height:60vh;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;

            ">
         </div>
      </div>
   </div>

   <div class="card mx-auto overflow-visible " style="
    margin-top: -3rem;
    z-index: 10;
    background: rgba( 251, 251, 251, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    width: 90%;
">
      <div class="card-body">
         <p class="text-black h3 " style="
                font-family: Signika;
            ">
            Welcome to MyTurf
         </p>
         <p class=" m-0"> Where The Sport Comes To You</p>
         <p class=" "> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus possimus mollitia, repellat
            error earum in vel obcaecati aspernatur.</p>
      </div>
   </div>


   <!-- <div class="bg-transparent card container-fluid mx-4 shadow-sm w-auto ">
      <h4 class="m-4 text-lg-center text-secondary" style="
    font-family: Signika;
">Try Some of our Awasome Products</h4>
      <div class="row swiper-wrapper justify-content-center" aria-live="polite">
         <div class="col-md-3 col-8">

            <div class="card shadow overflow-hidden" style="  
              background-image: url('{% static 'assets/images/sports/5.jpg' %}');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            ">

               <img src="{% static 'assets/images/sports/5.jpg' %}" alt="product_image">
               <div class="card-body  " style="
                     margin-top: -1rem;
    background: rgba( 0, 0, 0, 0.5 );
    /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px 15px 0px 0px !important
               ">
                  <div></div>
                  <div class="row">
                     <div class="col-md-7">
                        <p class="card-title text-white h4">Card title</p>

                     </div>
                     <div class="col-md-5">
                        <div class=" px-2 py-1 text text-white" style="
       background: rgba( 255, 255, 255, 0.2 );
       /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
       backdrop-filter: blur( 10px );
       -webkit-backdrop-filter: blur( 10px );
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       border-radius: 15px;
       font-weight: bold; 
                  "> $ 1000
                        </div>
                     </div>

                  </div>

               </div>
            </div>
         </div>

         <div class="col-md-3 ">

            <div class="card shadow overflow-hidden" style="  
              background-image: url('{% static 'assets/images/sports/15.jpg' %}');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            ">

               <img src="{% static 'assets/images/sports/15.jpg' %}" alt="product_image">
               <div class="card-body  " style="
                     margin-top: -1rem;
    background: rgba( 0, 0, 0, 0.5 );
    /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px 15px 0px 0px !important
               ">
                  <div></div>
                  <div class="row">
                     <div class="col-md-7">
                        <p class="card-title text-white h4">Card title</p>

                     </div>
                     <div class="col-md-5">
                        <div class=" px-2 py-1 text text-white" style="
       background: rgba( 255, 255, 255, 0.2 );
       /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
       backdrop-filter: blur( 10px );
       -webkit-backdrop-filter: blur( 10px );
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       border-radius: 15px;
       font-weight: bold; 
                  "> $ 1000
                        </div>
                     </div>

                  </div>

               </div>
            </div>
         </div>

         <div class="col-md-3 ">

            <div class="card shadow overflow-hidden" style="  
           background-image: url('{% static 'assets/images/sports/7.jpg' %}');
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
         ">

               <img src="{% static 'assets/images/sports/7.jpg' %}" alt="product_image">
               <div class="card-body  " style="
                  margin-top: -1rem;
 background: rgba( 0, 0, 0, 0.5 );
 /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
 backdrop-filter: blur( 10px );
 -webkit-backdrop-filter: blur( 10px );
 border: 1px solid rgba( 255, 255, 255, 0.18 );
 border-radius: 15px 15px 0px 0px !important
            ">
                  <div></div>
                  <div class="row">
                     <div class="col-md-7">
                        <p class="card-title text-white h4">Card title</p>

                     </div>
                     <div class="col-md-5">
                        <div class=" px-2 py-1 text text-white" style="
    background: rgba( 255, 255, 255, 0.2 );
    /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    font-weight: bold; 
               "> $ 1000
                        </div>
                     </div>

                  </div>

               </div>
            </div>
         </div>
      </div>
   </div></div>



 -->




 <div class="bg-transparent card container-fluid mx-4 shadow-sm w-auto ">
   <h4 class="m-4 text-lg-center text-secondary" style="
 font-family: Signika;
">Try our Awesome Products</h4>
<div class="row">

   {% for i in featuredproduct %}  
   
   <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3">
      <div class="card  p-2 shadow-sm ">
         <div class="img-cover border d-flex justify-content-center align-items-center p-3 " style="width:100% ; height: 16.5rem; overflow: hidden;">
            <img src="{{media_url}}{{i.image}}" class="img-fluid featuredproduct-img" style="width:100%;">
         </div>
         <div class="card-body p-2">
            <h5 class="card-title" style="text-transform: uppercase;">{{i.product_name}}</h5>
            <p class="card-text d-flex align-items-center">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                  <path fill="currentColor" fill-rule="evenodd" d="M16 12a2 2 0 0 1 2-2h12a2 2 0 1 1 0 4h-3.07a7.96 7.96 0 0 1 .818 2H30a2 
                  2 0 1 1 0 4h-2.252a8.012 8.012 0 0 1-6.121 5.834l6.037 9.057a2 2 0 1 1-3.328 2.218l-8-12A2 2 0 0 1 18 22h2c1.48 0 2.773-.804 
                        3.465-2H18a2 2 0 1 1 0-4h5.465A3.998 3.998 0 0 0 20 14h-2a2 2 0 0 1-2-2Z" clip-rule="evenodd"/>
                    </svg>
                    <span style="font-size: 1.1rem;">{{i.price}}</span>


                </p>
                <a href="{% url 'shop' %}" class="btn btn-primary">Shop</a>
            </div>
         </div>
      </div>
      
      {% endfor %}
</div>



 </div>





</div>
<style>
   .featuredproduct-img:hover{
      cursor: pointer;
      transform: scale(1.2);
      transition: transform ease-in-out 200ms;
   }
   
</style>
         {% endblock content %}