{% extends 'layouts/base.html' %}
{% block content %}
{% load static%}
<script>
    document.getElementById('turfs_list-li').classList.add('active');
</script>



<main class="main-content">
    <div class="position-relative iq-banner">
        <!-- Nav Header Component Start -->
        <div class="iq-navbar-header" style="height: 215px;">
            <div class="container-fluid iq-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flex-wrap d-flex justify-content-between align-items-center">
                            <div>
                                <!-- <h1>Schedule</h1>
                                <p>Manage Your Turf Schedule, add timeslots.</p> -->
                            </div>
                            <div>
                                <a href="" class="btn btn-link btn-soft-light">
                                    <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.8251 15.2171H12.1748C14.0987 15.2171 15.731 13.985 16.3054 12.2764C16.3887 12.0276 16.1979 11.7713 15.9334 11.7713H14.8562C14.5133 11.7713 14.2362 11.4977 14.2362 11.16C14.2362 10.8213 14.5133 10.5467 14.8562 10.5467H15.9005C16.2463 10.5467 16.5263 10.2703 16.5263 9.92875C16.5263 9.58722 16.2463 9.31075 15.9005 9.31075H14.8562C14.5133 9.31075 14.2362 9.03619 14.2362 8.69849C14.2362 8.35984 14.5133 8.08528 14.8562 8.08528H15.9005C16.2463 8.08528 16.5263 7.8088 16.5263 7.46728C16.5263 7.12575 16.2463 6.84928 15.9005 6.84928H14.8562C14.5133 6.84928 14.2362 6.57472 14.2362 6.23606C14.2362 5.89837 14.5133 5.62381 14.8562 5.62381H15.9886C16.2483 5.62381 16.4343 5.3789 16.3645 5.13113C15.8501 3.32401 14.1694 2 12.1748 2H11.8251C9.42172 2 7.47363 3.92287 7.47363 6.29729V10.9198C7.47363 13.2933 9.42172 15.2171 11.8251 15.2171Z"
                                            fill="currentColor"></path>
                                        <path opacity="0.4"
                                            d="M19.5313 9.82568C18.9966 9.82568 18.5626 10.2533 18.5626 10.7823C18.5626 14.3554 15.6186 17.2627 12.0005 17.2627C8.38136 17.2627 5.43743 14.3554 5.43743 10.7823C5.43743 10.2533 5.00345 9.82568 4.46872 9.82568C3.93398 9.82568 3.5 10.2533 3.5 10.7823C3.5 15.0873 6.79945 18.6413 11.0318 19.1186V21.0434C11.0318 21.5715 11.4648 22.0001 12.0005 22.0001C12.5352 22.0001 12.9692 21.5715 12.9692 21.0434V19.1186C17.2006 18.6413 20.5 15.0873 20.5 10.7823C20.5 10.2533 20.066 9.82568 19.5313 9.82568Z"
                                            fill="currentColor"></path>
                                    </svg>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iq-header-img">
                <img src="{% static 'assets/images/sports/15.jpg' %}" alt="header"
                    class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">

            </div>
        </div> <!-- Nav Header Component End -->
        <!--Nav End-->
    </div>


    <div class="conatiner-fluid content-inner mt-n5 py-0">

        <div class="mt-5">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body flex-wrap d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-wrap align-items-center">
                                <div
                                    class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1 ">
                                    {% if turf.avatar %}
                                    <img src="{{media_url}}{{turf.avatar}}" alt="User-Profile"
                                        class=" bg-     theme-color-default-img img-fluid rounded-pill avatar-100">
                                    {% else %}
                                    <img src="{% static 'assets/images/avatars/01.png' %}" alt="User-Profile"
                                        class="theme-color-default-img img-fluid rounded-pill avatar-100">

                                    {% endif %}
                                </div>
                                <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                    <h2 class="me-2 h2">{{ turf.turf_name}}</h2>
                                </div>


                            </div>
                            <div class="d-flex  align-items-center mb-3 mb-sm-0">

                                <ul class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab"
                                    id="profile-pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" data-bs-toggle="tab" href="#profile-about"
                                            role="tab" aria-selected="false">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#profile-gallery" role="tab"
                                            aria-selected="false">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#profile-categories" role="tab"
                                            aria-selected="false">Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#profile-requests" role="tab"
                                            aria-selected="false">..</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-content tab-content">
                                <div id="profile-about" class="tab-pane fade active show">

                                    <span class="h6">Location : </span> <span>{{turf.landmark}}, {{turf.location}}
                                    </span><br>
                                    <span class="h6">Email : </span> <span>{{turf.email}} </span><br>
                                    <span class="h6">Phone : </span> <span>{{turf.phone}} </span><br>

                                </div>

                                <div id="profile-gallery" class="tab-pane fade ">
                                    <!-- gallery -->

                                    <div id="grid_gallery">

                                        <div id="posts_gallery">
                                            {% if images %}
                                            {% for image in images %}
                                            <div class="post_gallery card">
                                                <img class="p-2" src={{media_url}}{{image.image}} />
                                                <strong class="text-primary"> {{image.caption}} </strong>

                                            </div>
                                            {% endfor %}

                                        </div>


                                    </div>

                                    {% else %}
                                </div>


                            </div>
                                    <div class="col-md-4 card  bg-light mx-auto">
                                        <div class="mx-auto card-body">
                                            Don't have any uploads
                                        </div>
                                    </div>
                                    {% endif %}




                                </div>

                                <div id="profile-categories" class="tab-pane fade ">
                                    category
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    {% block js%}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
    <script src="/static/script.js"></script>{% endblock%}

    {% endblock %}