{% extends 'layouts/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid py-2">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title mb-0">
                            <h2 class="mb-0">Gallery</h2>
                        </div>
                        <div class="card-action">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Add Images
                            </button>
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Add Images</h5>                                            
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                            </button>
                                        </div>
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            <div class="modal-body">
                                                <div class="row">
                                                    {% csrf_token %}

                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="image" class="form-label">
                                                                Username
                                                            </label>
                                                           {% render_field form.username type="text" class='form-control' value=request.user.username readonly='true' %}
                                                        </div>
                                                        <span class="text-error  text-danger">
                                                            {{ form.username.errors }}
                                                        </span>
                                                    </div>
                                                    
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="image" class="form-label">
                                                                Image
                                                            </label>
                                                           {{form.image}}
                                                        </div>
                                                        <span class="text-error  text-danger">
                                                            {{ form.Image.errors }}
                                                        </span>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="image" class="form-label">
                                                                Caption
                                                            </label>
                                                            {{ form.caption}}
                                                        </div>
                                                        <span class="text-error text-danger">
                                                            {{ form.caption.errors }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!-- Gallery -->
    
    <div class="row">
    {% for data in turfGallery %}
        <!-- <div class="column"> -->
            <div class="col-md-6 col-12 col-lg-4">
                <div style="color: black; text-align: center;" >
                        <img
                            src={{media_url}}{{data.image}}
                            class="w-100 shadow-1-strong rounded mb-2"
                            alt="Boat on Calm Water"
                        />
                        <div class="caption">
                            <p>
                                {{data.caption}}    
                            </p>                
                        </div>
                </div>
            </div>
        <!-- </div> -->
        {% endfor %}
    </div>

</div>
<!-- end -->

<style>
    .turf-gallery{
        position: relative;
    }
    .turf-gallery-edit-icon{
        position: absolute;
    top: 2rem;
    visibility: hidden;    }
.turf-gallery-img-div:hover ~ .turf-gallery-edit-icon{
    visibility: visible;
    
}

</style>

<script>
    document.getElementById('turfgallery-li').classList.add('active');
</script>


  <!-- Including jQuery -->
  <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
      </script>

<script type="text/javascript">
    setTimeout(function () {

        // Closing the alert
        $('#alerts-disimissible-component').alert('close');
    }, 1000);
</script>
<style>

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>
{% endblock content %}
