{% extends 'layouts/base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load static%}
<style>
    .card .fas {
    position: absolute;
    
    bottom: -100px;
    background-color: #4e9525;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: gold;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.card:hover .fas.bt {
    bottom: 0px;
    opacity: 1;
}
</style>
<div class="container-fluid py-0">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title mb-0">
                            <h2 class="mb-0">Gallery</h2>
                        </div>
                        <div class="card-action">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Add Images
                            </button>
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Add Images</h5>                                            
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="" method="POST" enctype="multipart/form-data">    
                                                <div class="modal-body">
                                                    <div class="row">
                                                        {% csrf_token %}

                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                            {% comment %} <label for="username" class="form-label"></label>  {% endcomment %}
                                                            {% render_field form.username type="text" class='form-control'  value=request.user.username hidden=true%}
                                                            </div>
                                                            <span class="text-error  text-danger">{{ form.username.errors }}</span>
                                                        </div>
                                                        
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                            <label for="images" class="form-label">Image</label>
                                                            {{form.image}}
                                                            </div>
                                                            <span class="text-error  text-danger">{{ form.Image.errors }}</span>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                            <label for="caption" class="form-label">Caption</label>
                                                            {{form.caption}}
                                                            </div>
                                                            <span class="text-error  text-danger">{{ form.caption.errors }}</span>
                                                        </div>
        
                                    
                                                    </div>
        
        
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
	

 
	
	<!-- <div id="grid" class="container"> -->
        <!-- {% comment %} <div id="grid_gallery">
                    
            <div id="posts_gallery">
                {% for data in turfGallery %}
                <div class="post_gallery card">
                    <img class="p-2"
                        src={{media_url}}{{data.image}}/>
                        <strong class="text-primary"> {{data.caption}} </strong>
                                        
                </div>
                {% endfor %}
            </div>
            
        </div> {% endcomment %} -->
        <div id="grid_gallery">
            <div id="posts_gallery">
                
                {% for data in turfGallery %}
                <div class="post_gallery card ">
                        <img class="p-2 "
                            src={{media_url}}{{data.image}}/>
                            <strong class="text-primary"> {{data.caption}} </strong>
                            <span class="fas bt ">
                                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span> 
                </div>
                
                    {% endfor %}
            </div>
        </div>




{% block js%} 
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>	
<script src="/static/script.js"></script>{% endblock%}
    {% endblock %}