<style>
    
    .suggestions {
    
    
        width: 100%;
      background: #fff;
      text-align: left;
    
      
      }
      
     #results ul {
        /* display: none; */
        /* list-style-type: none; */
        padding: 0;
        margin: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow-y: auto;
      }
      #results ul.has-suggestions {
        display: block;
      }
      #results ul li {
        padding: 10px;
        cursor: pointer;
        background: var(--bs-primary-tint-88);
      }
     #results ul li:hover {
        background-color: var(--bs-primary-tint-60);
      }
    </style>
  