  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/assets/images/favicon.ico" />
      
  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="/static/assets/css/core/libs.min.css" />
  
  <!-- Aos Animation Css -->
  <link rel="stylesheet" href="/static/assets/vendor/aos/dist/aos.css" />
  
  <!-- Hope Ui Design System Css -->
  <link rel="stylesheet" href="/static/assets/css/hope-ui.min.css?v=1.2.0" />
  
  <!-- Custom Css -->
  <link rel="stylesheet" href="/static/assets/css/custom.min.css?v=1.2.0" />
  
  <!-- Dark Css -->
  <link rel="stylesheet" href="/static/assets/css/dark.min.css"/>
  
  <!-- Customizer Css -->
  <link rel="stylesheet" href="/static/assets/css/customizer.min.css" />
  
  <!-- RTL Css -->
  <link rel="stylesheet" href="/static/assets/css/rtl.min.css"/>

  <!-- font family -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
    </style>


  <!-- taginput Css -->
  <link rel="stylesheet" href="/static/assets/css/taginput.css"/>
  
  <!-- cutom radio for color -->
  <link rel="stylesheet" href="/static/assets/css/cutomRadioForColor.css"/>
  


  <!-- gallery css -->
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">
<link rel='stylesheet' href='/static/assets/css/style.css' />




<!-- masonry -->

<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">
